
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; 
    justify-content: center; 

  }
  .list img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    max-width: 300px; 
    max-height: 300px; 
    display: block;
    margin: 0 auto; 
  }
  
.sub {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555; 
    text-transform: uppercase;
    letter-spacing: 3px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  .collection-title {
    font-size: 3rem;
    font-weight: bold;
    color: #433e3e; 
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  }
  
  