.custom-footer {
  background-color: #121212;
  color: #fff;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.footer-contact-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact-center {
  flex: 1.5; /* Make the mail section slightly wider for centering */
}

.footer-icon {
  font-size: 1.5rem;
  color: #E58D27;
  margin-bottom: 0.5rem;
}

.footer-contact p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.footer-icon {
  font-size: 1.5rem;
  color: #E58D27;
  margin-bottom: 0.5rem;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
}

.footer-column li a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer-column li a:hover {
  color: #E58D27;
}

.subscribe .subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form input {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  flex: 1;
}

.subscribe-form button {
  padding: 0.5rem;
  background-color: #E58D27;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #C76C10;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #444;
}

.social-links a {
  color: #ccc;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #E58D27;
}
